html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: rgba(29, 29, 43, 1);
    color: white;
}

footer {
    background-color: rgb(41, 41, 59, 1);
}

.screen {
    height: calc(100vh - 5em);
    /* border: 2px solid wheat; */
    overflow-y: scroll;
    overflow-x: hidden;
}
.screen_home,
.screen_home_2 {
    width: 100%;
    height: calc(100vh - 5em);
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.screen_home_2 {
    height: calc(100vh - 10em);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-button {
    visibility: hidden;
}

::-webkit-scrollbar-track {
    background-color: rgba(29, 29, 43, 1);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(155, 133, 133);
    border-radius: 10px;
}

section {
    height: 100vh;
    /* overflow: hidden; */
    position: relative;
}

.mark-div {
    /* border: 2px solid white; */
    position: absolute;
    width: 50%;
    background-color: transparent;
    /* display: none; */
    padding: 0 15px;
    overflow-y: scroll;
    word-wrap: normal;
}

textarea::selection {
    background-color: transparent;
}

#markdown {
    border-style: none;
    /* border: 2px solid white; */
    color: rgb(165, 165, 165);
    background-color: transparent;
    position: absolute;
    width: 50% !important;
    padding: 10px 15px;
    overflow-y: scroll;
    outline: none;
}

.mark-div,
textarea {
    font-size: 17px;
    height: 79%;
    max-height: 79%;
}

.display_none {
    z-index: -1111;
}
.main {
    display: flex;
    height: 88.9%;
}

.main .sub {
    width: 50%;
    /* border: 1px solid red; */
    height: 100%;
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.sub1 {
    border-right: 1px solid rgb(179, 179, 179);
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 1em;
}

.btn-container {
    display: flex;
    align-items: center;
}

.btn-container button,
.copy {
    font-size: 1.1em;
    margin: 0 0.7em;
    padding: 0.3em 1em;
    font-weight: 500;
    border-style: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.prev,
.mark,
.copy {
    background-color: rgb(167, 167, 167);
}

.prev:hover,
.mark:hover,
.copy:hover {
    background-color: rgb(122, 122, 122);
}

.active_btn {
    background-color: rgb(0, 166, 255);
}
.active_btn:hover {
    background-color: rgb(129, 211, 255);
}

.upper-container {
    display: flex;
    flex-direction: column;
    padding: 1em 1em 0 1em;
    border-bottom: 1px solid rgb(179, 179, 179);
}

.upper-container h1 {
    margin: 0;
    font-size: 2em;
}

.upper-container p {
    font-size: 1.03em;
    margin: 0;
    margin-block: 1em;
}

.normal-input {
    display: flex;
    flex-direction: column;
    margin-block: 0.7em;
}

.normal-input input,
.normal-input textarea {
    background-color: rgb(24, 24, 36, 1);
    border-style: none;
    outline: none;
    color: rgb(189, 189, 189);
    font-size: 1.1em;
    padding: 0.4em 0.9em;
    border-radius: 0.3em;
    margin: 0.18em 0;
}

.label {
    font-size: 1.17em;
    font-weight: 400;
    margin-bottom: 0.2em;
    text-transform: uppercase;
}

.intro_container {
    padding: 1em;
}

.double {
    display: flex;
    gap: 10px;
}

.double input {
    width: 100%;
}
.main_container {
    padding: 1em 1em;
}

.skill_container {
    background-color: rgb(41, 41, 59, 1);
    padding: 0.4em 0 0.4em 0.9em;
    border-radius: 0.5em;
    margin: 0 0 0.5em 0;
}

.skill_container h2 {
    margin: 0;
    margin-bottom: 0.5em;
}

.skill_container .img_skill {
    margin: 0.08em 0.24em;
    cursor: pointer;
    opacity: 0.2;
}

.light {
    opacity: 1 !important;
}

.social_container,
.badges_container,
.support-container {
    padding: 0.5em 1em;
}

.social_form {
    display: flex;
    flex-direction: column;
}

.title-social {
    display: flex;
    align-items: center;
}

.title-social h3 {
    margin: 0;
    margin: 0.4em 0.5em;
    font-size: 1em;
}

.span-container {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 400;
    background-color: rgb(22, 22, 32);
    padding: 0em 0.6em;
    border-radius: 0.5em;
    margin-bottom: 0.4em;
}

.span-container input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 1em;
    align-items: center;
    padding-top: 0.2em;
    width: 100%;
}

.card-container {
    display: flex;
    background-color: rgb(22, 22, 32);
    font-size: 1.2em;
    border-radius: 0.4em;
    padding-left: 0.3em;
    margin: 0.29em 0;
}

.card-container label {
    /* border: 2px solid red; */
    cursor: pointer;
    width: 100%;
    padding: 0.5em 0.7em;
    margin: 0;
}

.active {
    border-bottom: 3px solid rgb(0, 166, 255) !important;
    border-radius: 1px !important;
    color: rgb(119, 205, 252) !important;
}

.contact_us tr td {
    text-transform: uppercase;
}

.input_contact {
    width: 30em;
}

.btn_new {
    font-size: 1.18em;
    padding: 0.3em 1em;
    border-style: none;
    border: 2px solid black;
    border-radius: 0.3em;
    cursor: pointer;
}
